/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

body {
  font-family: 'Montserrat', sans-serif;
}

/* < ============= Navigation ============= > */

h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 32px;
}

nav {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-transform: uppercase;
  transition: font-weight 250ms linear;
}

nav a:hover {
  font-weight: 700;
}

/* < ============= Timer ============= > */
.timer-hero {
  padding-top: 36px;
  padding-left: 156px;
}

#datetime-picker {
  box-sizing: border-box;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  margin-bottom: 32px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  transition: border-color 250ms linear, color 250ms linear;
}

#datetime-picker:hover {
  border-color: #000;
}

#datetime-picker:active {
  border-color: #4e75ff;
}

#datetime-picker:disabled {
  border-color: #808080;
  color: #808080;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background-color: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  margin-left: 8px;
  transition: background-color 250ms linear, color 250ms linear;
}

button:hover {
  background-color: #6c8cff;
}

button:disabled {
  background-color: #cfcfcf;
  color: #989898;
}

.timer {
  display: flex;
  gap: 24px;
}

.timer span {
  display: block;
  text-align: center;
}

.value {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  text-transform: uppercase;
}

/* < ============= Snackbar ============= > */

form {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-top: 36px;
  padding-left: 156px;
}

label {
  width: 360px;
  height: 40px;
}
input {
  box-sizing: border-box;
  display: block;
  border: 1px solid #808080;
  border-radius: 4px;
  transition: border-color 250ms linear;
}

fieldset {
  box-sizing: border-box;
  display: flex;
  width: 360px;
  height: 78px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 18px 48px 8px 48px;
  margin-bottom: 24px;
  margin-top: 16px;
  transition: border-color 250ms linear;
}

input:hover,
fieldset:hover {
  border-color: #000;
}

fieldset label {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 104px;
  height: 32px;
}

fieldset {
}

form button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background-color: #4e75ff;
  color: #fff;
  margin-left: 0;
  transition: background-color 250ms linear;
}

form button:hover {
  background-color: #6c8cff;
}
